<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>管理员界面-客服回复</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/AdminHelp.css">
    <link rel="icon" type="favicon.ico" href="../../static/img/ikunLOGO.png">
    <!-- Bootstrap5.3.2 css -->
    <link rel="stylesheet" href="../../static/plugin/bootstrap/bootstrap.min.css">
    <!-- Bootstrap5.3.2 js -->
    <script src="../../static/plugin/bootstrap/bootstrap.min.js"></script>
    <!--  popper.js  -->
    <script src="../../static/plugin/bootstrap/popper.min.js"></script>
    <!--  jQuery-->
    <script src="../../static/plugin/jquery/jquery-3.7.1.min.js"></script>

    <script src="../../static/js/Store.js"></script>
  </head>
</head>
<body>
<!--导航栏-->
<div th:replace="~{admin/NavBar :: navbar}"></div>
<!--------------------------------------------------------------->
<h1 class="messageQ">消息列表</h1>
<div class="order-border" th:each="item:${List}">
  <table class="order">
    <tr>
      <td>客户:<span th:text="${item.getUsername()}">Suxton</span></td>
      <td>状态:<span
          th:text="${item.getStatus()==2?'管理员未读':(item.getStatus()==1?'用户未读':'均已读')}"
          th:style="'color:'+ ${item.getStatus()==2?'red':(item.getStatus()==1?'green':'black')}"
      ></span></td>
      <td colspan="2">
      </td>
    </tr>
    <tr>
      <td>时间:</td>
      <td>
        <span th:text="${item.getLastchat()}"></span>
      </td>
      <td colspan="2">
        <a class="btn btn-primary"
           th:href="@{/Admin/Help(username=${item.getUsername()},id=${item.getUserid()})}">
          回复
        </a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>