<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>管理员界面-客服回复</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/AdminHelp.css">
        <!-- 新 Bootstrap5 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

        <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
        <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

        <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
        <script src="../../static/js/Store.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
</head>
<body>
<!--导航栏-->
<div th:replace="~{admin/NavBar :: navbar}"></div>
<!--------------------------------------------------------------->
<h1 class="messageQ">消息列表</h1>
<div class="order-border" th:each="item:${List}">
    <table class="order">
        <tr>
            <td>客户:<span th:text="${item.getUsername()}"></span></td>
            <td>状态:<span th:text="${item.getStatus()==2?'未读':'已读'}"></span></td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td>时间:</td>
            <td>
                <span th:text="${item.getLastchat()}"></span>
            </td>
            <td colspan="2">
                <a class="btn btn-primary"
                   th:href="@{/Admin/Help(username=${item.getUsername()},id=${item.getUserid()})}">
                    回复
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>