<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
  <!-- 新 Bootstrap5 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

  <!--订单页样式-->
  <link rel="stylesheet" type="text/css" href="../../static/css/Order.css">
  <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
  <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

  <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>

</head>

<body>
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="../../static/img/ikunLOGO.png" width="55">
  </a>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="mynavbar">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" href="AdminHome.html">营业查询</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Store.html">仓库管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="OrderDeal.html">订单处理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Help.html">客服回复</a>
      </li>
    </ul>
    <ul class="navbar-nav me-right">
      <li class="nav-item" th:if="${username==null}">
        <a class="nav-link" href="Login.html">登录</a>
      </li>
      <li class="nav-item" th:if="${username!=null}">
        <a class="nav-link" th:text="${username}"></a>
      </li>
      <li class="nav-item" th:if="${username!=null}">
        <a class="nav-link" th:href="@{/logout}">登出</a>
      </li>

    </ul>
  </div>
</nav>
<!--------------------------------------------------------------->
<h1>订单详情</h1>
<div class="order-border" th:each="item:${orders}">
  <table class="order">
    <tr>
      <td>详情：</td>
      <td>
        <ul>
          <li>CPU: <span th:text="${item.getCpuname()}"></span></li>
          <li>GPU: <span th:text="${item.getGpuname()}"></span></li>
          <li>内存: <span th:text="${item.getMemoryname()}"></span></li>
          <li>硬盘: <span th:text="${item.getDrivename()}"></span></li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>状态：</td>
      <td th:text="${item.getStatus()}"></td>
    </tr>
    <tr>
      <td>时间：</td>
      <td th:text="${item.getOrdertime()}"></td>
    </tr>
    <tr>
      <td>金额：</td>
      <td th:text="${item.getMoney()}"></td>
    </tr>
  </table>
</div>

</body>

</html>