<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <!--导航栏-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="../../static/img/ikunLOGO.png" width="55">
    </a><!-- Links -->
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="AdminHome.html">营业查询</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Store.html">仓库管理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="OrderDeal.html">订单处理</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Help.html">客服回复</a>
        </li>
      </ul>
      <ul class="navbar-nav me-right">
        <li class="nav-item" th:if="${username==null}">
          <a class="nav-link" href="Login.html">登录</a>
        </li>
        <li class="nav-item" th:if="${username!=null}">
          <a class="nav-link" th:text="${username}"></a>
        </li>
        <li class="nav-item" th:if="${username!=null}">
          <a class="nav-link" th:href="@{/logout}">登出</a>
        </li>

      </ul>
    </div>
  </nav>
  <!--------------------------------------------------------------->

    <div class="content">
      <div class="上">
        <form action="" method="get">
          查询方式:
          <select name="查询方式">
            <option value="订单号">订单号</option>
            <option value="订单人">订单人</option>
            <option value="状态">状态</option>
            <option value="下单时间">下单时间</option>
            <option value="CPU型号">CPU型号</option>
            <option value="显卡型号">显卡型号</option>
            <option value="内存型号">内存型号</option>
            <option value="硬盘型号">硬盘型号</option>
          </select>
          具体信息:
          <input type="text" name="具体信息" />
          <input type="submit" value="查询" />
        </form>
      </div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>订单号</th>
            <th>订单人</th>
            <th>状态</th>
            <th>时间</th>
            <th>金额</th>
            <th>CPU型号</th>
            <th>显卡型号</th>
            <th>内存型号</th>
            <th>硬盘型号</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <form action="" name="编辑按钮" id="q">
                <input type="submit" value="编辑" />
              </form>
            </th>
            <th>100004</th>
            <th>坤蔡</th>
            <th>已完成</th>
            <th>2022/1/1</th>
            <th>3060元</th>
            <th>i7-13700KF 3199</th>
            <th>MS-GeForce RTX3060</th>
            <th>光威16GB</th>
            <th>联想1TB</th>
          </tr>
          <tr>
            <th>
              <form action="" name="编辑按钮" >
                <input type="submit" value="编辑" />
              </form>
            </th>
            <th>100000</th>
            <th>蔡徐</th>
            <th>未完成</th>
            <th>2022/2/2</th>
            <th>7700元</th>
            <th>i5-13400F</th>
            <th>InterARCA770</th>
            <th>英睿达32GB</th>
            <th>纽曼500GB</th>
          </tr>
          <tr>
            <th>
              <form action="" name="编辑按钮" >
                <input type="submit" value="编辑" />
              </form>
            </th>
            <th>100001</th>
            <th>徐坤</th>
            <th>已完成</th>
            <th>2023/1/1</th>
            <th>5808元</th>
            <th>i7-13700K</th>
            <th>RX580-8G</th>
            <th>金白达</th>
            <th>希捷1TB</th>
          </tr>
          <tr>
            <th>
              <form action="" name="编辑按钮" >
                <input type="submit" value="编辑" />
              </form>
            </th>
            <th>100002</th>
            <th>蔡坤</th>
            <th>未完成</th>
            <th>2023/7/7</th>
            <th>4070元</th>
            <th>锐龙七5700x</th>
            <th>ROG RTX4070Ti</th>
            <th>金士顿16GB</th>
            <th>小盘500GB</th>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
