<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <style>
        * {
            background-image: url(img/background.jpg);
            margin: 0;
            padding: 0;
            text-decoration: none;
        }

        .content {
            width: 1226px;
            height: 460px;
            background-color: green;
            margin: 0 auto;
        }

        .content > div {
            float: left;
            width: 600px;
            height: 220px;
            background-color: white;
            margin-left: 8px;
            margin-top: 4px;
        }

        .first {
            height: 200px;
            width: 600px;
        }

        .second {
            height: 20px;
            width: 600px;
            right: 0;
            text-align: end;
        }
    </style>
</head>
<body>
<div class="content">
    <div>
        <div class="first"><p id="yi">CPU:</p>
            <table>
                <thead>
                <tr>

                    <form action="" name="型号" id="型号">
                        <th>品牌:
                            <select name="品牌">
                                <option value="英特尔">英特尔</option>
                                <option value="AMD">AMD</option>
                                <option value="MSI">MSI</option>
                                <option value="ASUS">ASUS</option>
                                <option value="ROG">ROG</option>
                        </th>
                        <th>价位:
                            <select name="价位">
                                <option value="0">0-1000</option>
                                <option value="1000">1000-2000</option>
                                <option value="2000">2000-3700</option>
                                <option value="3700">3700-5000</option>
                                <option value="5000">5000-9700</option>
                        </th>
                        <th>核心数:
                            <select name="核心数">
                                <option value="2">2</option>
                                <option value="36">36</option>
                                <option value="4">4</option>
                                <option value="28">28</option>
                                <option value="8">8</option>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>剩余量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>奔腾G6405</th>
                    <th>479元</th>
                    <th>100件</th>
                </tr>
                <tr>
                    <th>赛扬G6900</th>
                    <th>600元</th>
                    <th>200件</th>
                </tr>
                <tr>
                    <th>奔腾G7400</th>
                    <th>739元</th>
                    <th>120件</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <div class="first"><p id="er">显卡:</p>
            <table>
                <thead>
                <tr>

                    <form action="" name="型号" id="型号">
                        <th>品牌:
                            <select name="品牌">
                                <option value="ASUS">ASUS</option>
                                <option value="七彩虹">七彩虹</option>
                                <option value="MSI">MSI</option>
                                <option value="盈通">盈通</option>
                                <option value="NVIDIA">NVIDIA</option>
                        </th>
                        <th>价位:
                            <select name="价位">
                                <option value="0">0-1500</option>
                                <option value="1500">1500-2000</option>
                                <option value="2000">2000-3700</option>
                                <option value="3700">3700-5000</option>
                                <option value="5000">5000-9700</option>
                        </th>
                        <th>显存容量:
                            <select name="显存容量">
                                <option value="2">2GB</option>
                                <option value="4">4GB</option>
                                <option value="8">8GB</option>
                                <option value="3">3GB</option>
                                <option value="6">6GB</option>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>剩余量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>ROG RTX4070Ti</th>
                    <th>3199元</th>
                    <th>30件</th>
                </tr>
                <tr>
                    <th>TUF GeForce RTX 3060Ti</th>
                    <th>3089元</th>
                    <th>210件</th>
                </tr>
                <tr>
                    <th>DUA-RX6750XT-O12G</th>
                    <th>2599元</th>
                    <th>132件</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <div class="first"><p id="san">内存:</p>
            <table>
                <thead>
                <tr>

                    <form action="" name="型号" id="型号">
                        <th>品牌:
                            <select name="品牌">
                                <option value="金士顿">金士顿</option>
                                <option value="联想">联想</option>
                                <option value="七彩虹">七彩虹</option>
                                <option value="英睿达">英睿达</option>
                                <option value="三星">三星</option>
                        </th>
                        <th>价位:
                            <select name="价位">
                                <option value="0">0-1000</option>
                                <option value="1000">1000-2000</option>
                                <option value="2000">2000-3700</option>
                                <option value="3700">3700-5000</option>
                                <option value="5000">5000-9700</option>
                        </th>
                        <th>内存频率
                            <select name="内存频率">
                                <option value="3600">3600MHz</option>
                                <option value="6600">6600MHz</option>
                                <option value="7200">7200MHz</option>
                                <option value="7000">7000MHz</option>
                                <option value="5800">5800MHz</option>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>剩余量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>DDR4 8G</th>
                    <th>299元</th>
                    <th>91件</th>
                </tr>
                <tr>
                    <th>FURY 32GB</th>
                    <th>528元</th>
                    <th>212件</th>
                </tr>
                <tr>
                    <th>FURY 16GB</th>
                    <th>339元</th>
                    <th>113件</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <div class="first"><p id="si">硬盘:</p>
            <table>
                <thead>
                <tr>

                    <form action="" name="型号" id="型号">
                        <th>品牌:
                            <select name="品牌">
                                <option value="西部数据">西部数据</option>
                                <option value="金士顿">金士顿</option>
                                <option value="希捷">希捷</option>
                                <option value="爱国者">爱国者</option>
                                <option value="纽曼">纽曼</option>
                        </th>
                        <th>价位:
                            <select name="价位">
                                <option value="0">0-1000</option>
                                <option value="1000">1000-2000</option>
                                <option value="2000">2000-3700</option>
                                <option value="3700">3700-5000</option>
                                <option value="5000">5000-9700</option>
                        </th>
                        <th>容量
                            <select name="容量">
                                <option value="8">8TB</option>
                                <option value="6">6TB</option>
                                <option value="4">4TB</option>
                                <option value="2">2TB</option>
                                <option value="1">1TB</option>
                        </th>
                    </form>
                </tr>
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>剩余量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>西部数据1TB</th>
                    <th>366元</th>
                    <th>103件</th>
                </tr>
                <tr>
                    <th>西部数据2TB/th>
                    <th>489元</th>
                    <th>201件</th>
                </tr>
                <tr>
                    <th>西部数据4TB</th>
                    <th>739元</th>
                    <th>120件</th>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</body>
</html>
