<!--定制-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>定制-爱坤电脑城-为ikun提供最好的服务</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!--导航栏样式-->
    <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
    <!--定制页样式-->
    <link rel="stylesheet" type="text/css" href="../../static/css/Customize.css">
    <!--图标-->
    <link rel="icon" type="favicon.ico" href="../../static/img/ikunLOGO.png">

<body>
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-top">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="../../static/img/ikunLOGO.png" width="55">
    </a>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="Home.html">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Customize.html">定制</a>
            </li>
        </ul>
        <ul class="navbar-nav me-right">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">客服</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Login.html">登录</a>
            </li>
        </ul>
    </div>
</nav>
<!------------------------------------------------------->
<div class="container mt-3">
    <h4>筛选</h4>
    <div>
        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    CPU
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                <table class="Module table ">
                    <tr>
                        <td>i7-8888</td>
                        <td>6000</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                    显卡
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <a href="#" class="list-group-item list-group-item-action">第一项</a>
                <a href="#" class="list-group-item list-group-item-action">第二项</a>
                <a href="#" class="list-group-item list-group-item-action">第三项</a>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                    内存
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <a href="#" class="list-group-item list-group-item-action">第一项</a>
                <a href="#" class="list-group-item list-group-item-action">第二项</a>
                <a href="#" class="list-group-item list-group-item-action">第三项</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                    硬盘
                </a>
            </div>
            <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                <a href="#" class="list-group-item list-group-item-action">第一项</a>
                <a href="#" class="list-group-item list-group-item-action">第二项</a>
                <a href="#" class="list-group-item list-group-item-action">第三项</a>
            </div>
        </div>
    </div>
</div>
</div>


<!---------------------------------------------------------------------->
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col p-4">
            <table class="Module table ">
                <tr>
                    <td>100002</td>
                </tr>
                <tr>
                    <td>蔡坤</td>
                </tr>
            </table>
        </div>
        <div class="col p-4 ">
            <table class="Module table ">
                <tr>
                    <td>100002</td>
                </tr>
                <tr>
                    <td>蔡坤</td>
                </tr>
            </table>
        </div>
        <div class="col p-4 ">
            <table class="Module table ">
                <tr>
                    <td>100002</td>
                </tr>
                <tr>
                    <td>蔡坤</td>
                </tr>
            </table>
            <h4 class="sum">合计:</h4>
        </div>
        <div class="col p-4 ">
            <table class="Module table ">
                <tr>
                    <td>100002</td>
                </tr>
                <tr>
                    <td>蔡坤</td>
                </tr>
            </table>
            <button class="buy btn btn-primary">购入</button>
        </div>
    </div>
</div>
</body>

</html>