<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Kun友圈-爱坤电脑城</title>
  <!-- Bootstrap5.3.2 css -->
  <link rel="stylesheet" href="../../static/plugin/bootstrap/bootstrap.min.css">
  <!-- Bootstrap5.3.2 js -->
  <script src="../../static/plugin/bootstrap/bootstrap.min.js"></script>
  <!--  popper.js  -->
  <script src="../../static/plugin/bootstrap/popper.min.js"></script>
  <!-- jQuery-->
  <script src="../../static/plugin/jquery/jquery-3.7.1.min.js"></script>
  <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>-->
  <!--  dropzone-->
  <link rel="stylesheet" href="../../static/plugin/dropzone/dropzone.min.css">
  <script src="../../static/plugin/dropzone/dropzone.min.js"></script>
  <script src="../../static/js/KunMoment.js"></script>

  <!--导航栏样式-->
  <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
  <!--首页样式-->
  <link rel="stylesheet" type="text/css" href="../../static/css/KunMoment.css">
  <!--图标-->
  <link rel="icon" type="favicon.ico" href="../../static/img/ikunLOGO.png">
</head>
<body>
<div th:replace="~{user/NavBar :: navbar}"></div>
<!-------------------------------------------------------------------->
<div th:each="item : ${MomentList}">
  <div class="container mt-5">
    <div class="post-container">
      <div class="post-header">
        <h5><span th:text="${item.getUserName()}"/></h5>
      </div>
      <div class="post-body">
        <!-- indicators ---------------------------------------------------------->


        <!-- pictures--------------------------------------------------------->
        <!--          <div class="row">-->
        <!--            <div class="carousel-inner col-8">-->
        <!--              <div th:each="pic, itemStat: ${item.getPhotos()}">-->
        <!--                <div th:class="'carousel-item '+ ${itemStat.index==0? 'active':''}">-->
        <!--                  <img th:src="'data:image/jpg;base64,' + ${pic}"-->
        <!--                       class="d-block w-100 photo-inside" alt="...">-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <div class="carousel-inner col-4">-->
        <!--              <div class="moment-content">-->
        <!--                <span th:text="${item.getContent()}"></span>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        <div class="row">-->
        <!--          <div class="col-8" th:if="${!item.getPhotos().isEmpty()}">-->
        <!--            <div th:id="'momentPic'+${item.getId()}" class="carousel carousel-dark slide">-->
        <!--              <div class="carousel-indicators">-->
        <!--                <div th:each="pic, itemStat: ${item.getPhotos()}">-->
        <!--                  <button type="button" th:data-bs-target="'#'+'momentPic'+${item.getId()}"-->
        <!--                          th:data-bs-slide-to="${itemStat.index}"-->
        <!--                          class="active"-->
        <!--                          aria-current="true" th:aria-label="'Slide ' + ${itemStat.index}"></button>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--              <div id="carouselExample" class="carousel-inner">-->
        <!--                <div th:each="pic, itemStat: ${item.getPhotos()}"-->
        <!--                     th:class="'carousel-item ' + ${itemStat.index == 0 ? 'active' : ''}">-->
        <!--                  <img th:src="'data:image/jpg;base64,' + ${pic}" class="d-block w-100 photo-inside" alt="...">-->
        <!--                </div>-->
        <!--              </div>-->
        <!--              &lt;!&ndash;    swap btn   -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
        <!--              <button class="carousel-control-prev" type="button"-->
        <!--                      th:data-bs-target="'#'+'momentPic'+${item.getId()}"-->
        <!--                      data-bs-slide="prev">-->
        <!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
        <!--                <span class="visually-hidden">Previous</span>-->
        <!--              </button>-->
        <!--              <button class="carousel-control-next" type="button"-->
        <!--                      th:data-bs-target="'#'+'momentPic'+${item.getId()}"-->
        <!--                      data-bs-slide="next">-->
        <!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
        <!--                <span class="visually-hidden">Next</span>-->
        <!--              </button>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div th:class="${item.getPhotos().isEmpty()?'col-12':'col-4'}">-->
        <!--            <div class="moment-content" >-->
        <!--              <span th:text="${item.getContent()}"></span>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="ms-2">
          <div class="moment-text" th:id="'momentText'+${item.getId()}">
            <span th:text="${item.getContent()}"></span>
          </div>
          <button class="btn btn-link" th:id="'toggleButton'+${item.getId()}"
                  th:onclick="'toggle_text(\''+${item.getId()}+'\')'">
            展开
          </button>
          <script th:inline="javascript">
              id = /*[[${item.getId()}]]*/ '';
              judge(id)
          </script>
          <div id="expandContent" class="collapse">
            <div class="moment-content">
              <span th:text="${item.getContent()}"></span>
            </div>
          </div>

        </div>
        <div th:if="${!item.getPhotos().isEmpty()}">
          <div th:id="'momentPic'+${item.getId()}" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <div th:each="pic, itemStat: ${item.getPhotos()}">
                <button type="button" th:data-bs-target="'#'+'momentPic'+${item.getId()}"
                        th:data-bs-slide-to="${itemStat.index}"
                        class="active"
                        aria-current="true" th:aria-label="'Slide ' + ${itemStat.index}"></button>
              </div>
            </div>
            <div id="carouselExample" class="carousel-inner">
              <div th:each="pic, itemStat: ${item.getPhotos()}"
                   th:class="'carousel-item ' + ${itemStat.index == 0 ? 'active' : ''}">
                <img th:src="'data:image/jpg;base64,' + ${pic}" class="d-block w-100 photo-inside" alt="...">
              </div>
            </div>
            <!--    swap btn   ------------------------------------------------->
            <button class="carousel-control-prev" type="button"
                    th:data-bs-target="'#'+'momentPic'+${item.getId()}"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    th:data-bs-target="'#'+'momentPic'+${item.getId()}"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>


      <div class="comment-section">
        <div class="button-area">
          <p class="d-inline-flex ">
            <a class="btn btn-danger" role="button" th:onclick="'like('+${item.getId()}+')'">
              点赞(<span th:text="${item.getLikeNum()}" th:id="'likeNum'+${item.getId()}"></span>)
            </a>
          </p>

          <p class="d-inline-flex ">
            <a class="btn btn-primary" data-bs-toggle="collapse" th:href="'#commonArea'+${item.getId()}" role="button"
               aria-expanded="false" th:aria-controls="'commonArea'+${item.getId()}"
               th:onclick="'toggle_comment('+${item.getId()}+')'" th:id="'commentToggleBtn'+${item.getId()}">
              评论(<span th:text="${item.getCommentNum()}" th:id="'commentNun'+${item.getId()}"></span>)
            </a>
          </p>
        </div>
        <div class="collapse" th:id="'commonArea'+${item.getId()}">
          <div class="comment-form">
            <div class="mb-3">
              <label class="form-label" style="font-weight: bold">评论：</label>
              <div class="d-flex align-items-start">

                <textarea th:id="'commentInput'+${item.getId()}" class="form-control" rows="3"
                          style="border-radius: 10px;margin: 0 10px 0 0"
                          placeholder="在此评论"></textarea>

                <button type="submit" class="btn btn-primary comment-btn"
                        th:onclick="'comment(\''+${item.getId()}+'\')'">发表评论
                </button>
              </div>
            </div>
          </div>
          <div th:id="'comments'+${item.getId()}">


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary m-4 align-items-end btn-add" data-bs-toggle="modal"
        data-bs-target="#uploadModal">
  +
</button>


<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-style">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">发表坤友圈</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-5">
          <label for="postText" class="form-label">文本内容</label>
          <textarea class="form-control" id="postText" rows="15"></textarea>
        </div>
        <h5>上传图片</h5>
        <!-- 图片上传 -->
        `
        <form action="/UploadKunMomentPhoto" class="dropzone" id="myDropzone" enctype="multipart/form-data">
          <div class="fallback">
            <input name="file" type="image" multiple alt="fileArea"/>
          </div>
        </form>
        `
        <!-- 缩略图预览区域 -->
        <div id="imagePreview" class="mb-3"></div>
        <button class="btn btn-primary" id="submit-button">发布</button>
      </div>
    </div>
  </div>
</div>

<!-- 点赞状态toast -->
<div id="likeStatusToast" class="toast custom-toast fade hide" role="alert" aria-live="assertive" aria-atomic="true">
<!--  <div class="toast-header">-->
<!--    <strong class="me-auto">点赞状态</strong>-->
<!--    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>-->
<!--  </div>-->
  <div class="toast-body">
    <!-- 这里显示点赞状态的文字 -->
  </div>
</div>

</body>
</html>

<!--            <div class="carousel-item">-->
<!--              <img src="https://www.runoob.com/wp-content/uploads/2013/09/ytxdmm71yvt3zokkrpn4-scaled.jpeg"-->
<!--                   class="d-block w-100 photo-inside" alt="...">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--              <img src="	https://www.runoob.com/images/box-model.gif" class="d-block w-100 photo-inside" alt="...">-->
<!--            </div>-->

<!--<div class="card card-body comment">-->
<!--  <span class="comment-user-name">Suxton:</span>-->
<!--  Some placeholder content for the collapse component. This panel is hidden by default but revealed-->
<!--  when the user activates the relevant trigger.-->
<!--</div>-->
<!--<div class="card card-body comment">-->
<!--  <span class="comment-user-name">Sux:</span>-->
<!--  Some placeholder content for the collapse component. This panel is hidden by default but revealed-->
<!--  when the user activates the relevant trigger.-->
<!--</div>-->