<!--订单-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>订单-爱坤电脑城-为ikun提供最好的服务</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!--导航栏样式-->
    <link rel="stylesheet" type="text/css" href="../../static/css/Navigation.css">
    <!--订单页样式-->
    <link rel="stylesheet" type="text/css" href="../../static/css/Order.css">
    <!--图标-->
    <link rel="icon" type="favicon.ico" href="../../static/img/ikunLOGO.png">
</head>

<body>
<!--导航栏-->
<div th:replace="~{user/NavBar :: navbar}"></div>

<!----------------------------->
<h1>订单详情</h1>
<div class="order-border" th:each="item:${orders}">
    <table class="order">
        <tr>
            <td>详情：</td>
            <td>
                <ul>
                    <li>CPU: <span th:text="${item.getCpuname()}"></span></li>
                    <li>GPU: <span th:text="${item.getGpuname()}"></span></li>
                    <li>内存: <span th:text="${item.getMemoryname()}"></span></li>
                    <li>硬盘: <span th:text="${item.getDrivename()}"></span></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>状态：</td>
            <td th:text="${item.getStatus()}"></td>
        </tr>
        <tr>
            <td>时间：</td>
            <td th:text="${item.getOrdertime()}"></td>
        </tr>
        <tr>
            <td>金额：</td>
            <td th:text="${item.getMoney()}"></td>
        </tr>
    </table>
</div>


</body>

</html>