.col {
    height: 100px;
}

.sum {

    position: absolute;
    right: 37.5%;
}

.buy {
    position: absolute;
    right: 12.5%;
}

.form-check-input {
    margin-top: 10px;
}

.select-form {
    margin-left: 50px;
}

.input {
    background-color: transparent;
    border: none;
}