<!--购物车-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>购物车-爱坤电脑城-为ikun提供最好的服务</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!--导航栏样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/Navigation.css">
    <!--购物车页样式-->
    <link rel="stylesheet" type="text/css" href="../static/css/ShopMall.css">
</head>

<body>
    <!--导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Home.html">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Customize.html">定制</a>
                </li>
            </ul>
            <ul class="navbar-nav me-right">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">客服</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ShopMall.html">购物车</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Login.html">登录</a>
                </li>
            </ul>
        </div>
    </nav>
    <!------------------------------------------------------------------------>
    <div class="container mt-3">
        <h2><strong>购物车</strong></h2>
        <form action="/action_page.php">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                <div class="container mt-3">
                    <div class="card">
                        <div class="card-body">基础的卡片</div>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                <div class="container mt-3">
                    <div class="card">
                        <div class="card-body">基础的卡片</div>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="check form-check-input" id="check1" name="option1" value="something"
                    checked>
                <div class="container mt-3">
                    <div class="card">
                        <div class="card-body">基础的卡片</div>
                        <div class="card-body">基础的卡片</div>
                        <div class="card-body">基础的卡片</div>
                        <div class="card-body">基础的卡片</div>
                    </div>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something" checked>
                <div class="container mt-3">
                    <div class="card">
                        <div class="card-body">基础的卡片</div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--导航栏-->
    <nav class="cost navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
        <!-- Links -->
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav cost-view">
                <li class="zongji nav-item">
                    <a class="nav-link" href="javascript:void(0)">总计:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Checkout.html">结账</a>
                </li>
            </ul>
        </div>
    </nav>
    <!------------------------------------------------------------------------>
</body>

</html>